@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV bar with flex solution */
.nav-toggle {
    display: none;
    position: absolute;
    left: 6rem;
    top: 0.8rem;
    height: 2.5rem;
    width: 2rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 2px;
}

.nav-toggle:hover{
    transform: scale(1.1);
}

.nav-toggle:active {
    transform: scale(1);
}

.flex-nav {
    position: relative;
    align-items: center;
    height: 4rem;
    background-color: #000000;
    color: white;
    font-size: 2rem;
    padding: 0.8rem;
    max-width: 100%;
    z-index: 2;
}

.nav-left {
    position: absolute;
    top: 0.6rem;
    left: 2rem;
    padding: 0.2rem;
}

.nav-img {
    height: 3rem;
}

.nav-center ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem 3rem;
    list-style-type: none;
}

.nav-right {
    position: absolute;
    top: 0.45rem;
    right: 2rem;

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav {
    vertical-align: middle;
    align-items: center;
}

.nav:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.nav:active {
    transform: scale(1);
}

/* Front page */
body {
    font-family: Audiowide, sans-serif;
    text-align: center;
    background-color: whitesmoke;
}

h1 {
    font-size: 4em;
    text-align: right;
}

h2 {
    padding-top: 1rem;
    font-size: 2.5rem;
    text-align: right;
}

.flex-template {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: auto;
    margin: auto;
    width: 80%;
    margin-top: 15rem;
    margin-bottom: 15rem;
    color: rgb(0, 0, 0);
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 50px 50%;
}

/* About me */
.section{
    width: 70%;
    margin: auto;
    margin-top: 1rem;
    padding: 3rem;
    text-align: left;
}

p {
    font-size: 2.5rem;
    font-family: Roboto, sans-serif;
    text-align: justify;
    margin: auto;
    width: 70%;
}
/* Skills */
.skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 1rem;
    margin: auto;
}
.skills-element {
    display: flex;
    height: 10vh;
    width: 10vh;
    list-style-type: none;
}

/* Portfolio */
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 22rem));
    justify-content: center;
    list-style-type: none;
    width: 80%;
    margin: auto;
}

.portfolio-img{
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    margin: 1rem;
    object-fit: contain;
}

.portfolio-img:hover {
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px black);
}

.portfolio-img:active {
    filter: none;
}
/* Contact me */
.contact-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
    padding: 2rem;
    gap: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.contact-title {
    justify-content: left;
    margin-right: auto;
}

.contact {
    border-radius: 5px;
    font-size: 1.5rem;
}

.message {
    height: 15rem;
    resize: vertical;
    border-radius: 5px;
    font-size: 1rem;
}

.sendmessage {
    width: 40%;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: Audiowide, sans-serif;
    transform: scale(1);
}

.sendmessage:hover {
    transform: scale(1.1);
}

.sendmessage:active {
    transform: scale(1);
}

.contact-text-elements {
    text-align: left;
    font-size: 2rem;
}

/* Setting to phones */
@media only screen and (max-width: 1200px) {
    .nav-toggle {
        display: block;
    }

    .flex-nav {
        font-size: 1.5rem;
        flex-direction: column;
    }

    .nav-center {
        display: none;
    }

    .nav-center.active {
        margin-top: 2rem;
        display: block;
    }

    .flex-nav.active {
        height: auto;
    }

    .nav-center ul {
        flex-direction: column;
        padding: 1rem;
        margin: auto;
    }
    
    .flex-template {
        flex-direction: column;
        margin-top: 10rem;
        margin-bottom: 10rem;
        color: rgb(0, 0, 0);
    }
    .img {
        width: 70%;
        padding: auto;
        margin: auto;
    }

    .section {
        text-align: center;
        font-size: 2rem;
        width: 80%;
    }
    
    h1 {
        font-size: 2.5rem;
        text-align: center;
        margin: auto;
        padding: auto;
    }
    h2 {
        font-size: 1.5rem;
        text-align: center;
        padding: auto;
        margin: auto;
        margin-bottom: 1rem;
    }
    p {
        font-size: 1.5rem;
        width: 80%;
    }

    .contact-container {
        width: 80%;
    }

    .sendmessage {
        padding: 0.5rem;
        font-size: 0.5rem;
    }
}