@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV bar with grid solution */
#grid-nav {
    display: grid;
    background-color: #000000;
    font-size: 2rem;
    max-width: 100%;
    z-index: 2;
    grid-template-columns: repeat(20, 1fr);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.grid-nav-col-left1{
    padding: 1rem;
    grid-column-start: 2;
}
.grid-nav-col-left2{
    padding: 1rem;
    grid-column-start: 3;
}
.grid-nav-col-left3{
    padding: 1rem;
    grid-column-start: 4;
}
.grid-nav-col-left4{
    padding: 1rem;
    grid-column-start: 5;
}
.grid-nav-col-left5{
    padding: 1rem;
    grid-column-start: 6;
}

.nav-left:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(11, 93, 93);
    border-radius: 5px;
}

.nav-left:active {
    transform: scale(1);
    background-color: rgb(11, 93, 93);
    border-radius: 0px;
}

.grid-nav-col-right1{
    padding-top: 0.6rem;
    grid-column-start: 18;
}

.grid-nav-col-right2{
    padding-top: 0.6rem;
    grid-column-start: 19;
}

.nav-right:hover {
    cursor: pointer;
    transform: scale(1.6);
    background-color: rgb(11, 93, 93);
    border-radius: 5px;
}

.nav-right:active {
    transform: scale(1);
    border-radius: 0px;
}
/* Front page */
body {
    font-family: Audiowide, sans-serif;
    text-align: center;
    background-color: whitesmoke;
}

h1 {
    font-size: 4em;
    text-align: right;
}

h2 {
    padding-top: 1rem;
    font-size: 2.5rem;
    text-align: right;
}

.grid-template {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    align-items: center;
    width: 90%;
    margin-top: 15rem;
    margin-bottom: 15rem;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 50px 50%;
}

/* About me */
.section{
    width: 70%;
    margin: auto;
    padding: 3rem;
    text-align: left;
}

p {
    font-size: 2.5rem;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: auto;
    width: 70%;
}
/* Skills */
.skills-element {
    list-style-type: none;
    display: inline;
    padding: 3rem;
}

/* Portfolio */
.portfolio {
    list-style-type: none;
    cursor: pointer;
    width: 70%;
    margin: auto;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    transform: scale(1);

}

.portfolio-img{
    border: 2px solid black;
    border-radius: 25px;
}

.portfolio-img:hover {
    transform: scale(1.2);
}

.portfolio-img:active {
    transform: scale(1);
}
/* Contact me */
.contact-container {
    height: auto;
    width: 70vh;
    display: grid;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 2rem;
    gap: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 25px;
}

.contact-title {
    text-align: left;
}

.name {
    border-radius: 5px;
    font-size: 1.5rem;
}

.email {
    border-radius: 5px;
    font-size: 1.5rem;
}

.message {
    height: 15rem;
    resize: vertical;
    border-radius: 5px;
    font-size: 1rem;
}

.sendmessage {
    height: auto;
    width: 15rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 25px;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: Audiowide, sans-serif;
    transform: scale(1);
}

.sendmessage:hover {
    background-color: rgb(11, 93, 93);
    transform: scale(1.1);
}

.sendmessage:active {
    transform: scale(1);
}

.contact-text-elements {
    text-align: left;
    font-size: 2rem;
}
