@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Fugaz One, sans-serif;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-top: 1rem;
}